body {
    font-family: "Raleway", sans-serif;
    background-color: lightcyan;
}

header {
    background-color: #00589c;
    height: 120px;
}

#logo {
    float: right;
    margin: 20px 0 10px 0;
    height: 90%;
    width: 10%;
}

header h1 {
    color: whitesmoke;
    line-height: 90px;
}

#headline-container {
    float: left;
    width: 90%;
}

footer div{
    width:100%;
    text-align: center;
}